{% extends 'base.html'%}
{% block content %}

<div class="container">
  {% for c in category_list %}
  <a href="{% url 'product:category_based' c.name  %}">{{c.name}}</a>
  {% endfor %}
  <br/>
  {% for c in category_list %}

  <strong>{{c.name}}</strong>
  <div class='row'>
  {% for pro in c.products.all %}


  <a href="{% url 'product:product_detail' pro.product_code %}"  ><img src='/media/{{pro.product_image}}' style="height:400px;width:300px;"></img></a>

    <div class='card-body'>
    <br/>
    {{pro.name}}
    <em><strong>{{pro.price}}</strong></em>
    {% if pro.available %}
      <i class="fa fa-check" style="font-size:24px"></i>
    {% endif %}
      </div>



{% endfor %}
</div>
<br/>
<p>
{% endfor %}
</div>
{% endblock %}
